body {
  padding-top: 125px;
  text-align: center;
  background-image: radial-gradient(#0E0F10,#090B2B);
  color: #FFFFFF;
}
h1 {
  font-size: 100;
}
#bottom {
  padding-top: 100px;
}
 .button {
  background-color: #120CA3;
  text-align: center;
  opacity: 0.6;
  font-size: 12px;
  transition: 0.3s;
  margin: 4px 2px;
  border-radius: 12px;
}
.button: hover {
 opacity: 1;
}
