body {
 padding-top: 125px;
 text-align: center;
 background-image: url(https://cdn.glitch.me/ec7ce55c-e94d-4bac-a94f-9639f8fbd1d1%2Fa93513062000ccfbb18adecb46d61927.png?v=1638121829831);
 color: #FFFFFF;
 background-repeat: no-repeat;
 background-position: center;
}
h1 {
 font-size: 100;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #999999}

.button:active {
  background-color: #999999;
  box-shadow: 0 0px #000;
  transform: translateY(2px);
}
