body {
 padding-top: 125px;
 text-align: center;
 background-image: radial-gradient(#0E0F10,#090B2B);
 color: #FFFFFF;
}
h1 {
 font-size: 100;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #999999}

.button:active {
  background-color: #999999;
  box-shadow: 0 0px #000;
  transform: translateY(2px);
}
